nemo_toolkit[all] @ git+https://github.com/NVIDIA/NeMo.git@main
fastapi
uvicorn
python-multipart
pydantic
torch
numpy
hydra-core
lightning
lhotse
einops
transformers
sentencepiece
pandas
jiwer
librosa
pyannote-audio
webdataset
datasets
editdistance
IPython
pydub
ffmpeg-python
soundfile
cuda-python
texterrors
chromadb
python-dotenv
sqlalchemy>=2.0
aiosqlite>=0.19
speechbrain